:root{
  --orange: hsl(31, 77%, 52%);
  --cyan: hsl(184, 100%, 22%);
  --dark-cyan: hsl(179, 100%, 13%);
  --white: hsla(0, 0%, 100%, 0.75);
  --gray: hsl(0, 0%, 95%);
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
  margin: 50px;
  background-color: var(--white);
}

/* Fonts */
/*font-family: 'Big Shoulders Display', cursive;
font-family: 'Lexend Deca', sans-serif;*/

.container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 910px;
  margin: 0 auto;
  padding: 0 5px;

  border-radius: 15px;
}
.section__sedans{
  border-radius: 10px 0 0 10px;
}
.section__luxury{
  border-radius: 0 10px 10px 0;
}
.section{
  padding: 50px;
}
.section__header{
  margin-bottom: 30px;

  color: var(--gray);
  font-family: 'Big Shoulders Display', cursive;
  font-size: 40px;
  text-transform: uppercase;
}
.section__icon{
  display: block;
  margin-bottom: 40px;
  
  content: '';
  width: 64px;
  height: 40px;
  background-repeat: no-repeat;
  background-color: transparent;
}
.section__text{
  margin-bottom: 85px;

  font-family: 'Lexend Deca', sans-serif;
  font-size: 15px;
  line-height: 1.6em;
  color: var(--white);
}

.btn{
  padding: 14px 30px;

  border: 2px solid var(--gray);
  border-radius: 25px;
  background-color: var(--gray);

  font-size: 15px;
  font-family: 'Lexend Deca', sans-serif;

  cursor: pointer;
  transition: ease-in .3s;
  mix-blend-mode: screen;
}
.btn:hover{
  color: white;
  background-color: transparent;
}
