@media(max-width: 1000px){
  body{
    margin: 0 auto;
  }
 .container{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 30px 15px;

  justify-content: center;
  align-items: center;
 }
 .section{
  max-width: 300px;
 }
 .section__sedans{
  border-radius: 10px 10px 0 0;
 }
 .section__luxury{
  border-radius: 0 0 10px 10px;
}

.section__header,
.section__icon,
.section__text{
  margin-bottom: 25px;
}
}
